<div class="container">
  <h1>My Tasks</h1>
  <ul>
    <% @tasks.each do |task| %>
      <li>
        <span>
          <%= link_to task.title, task_path(task), class: "text-decoration-none text-white" %>
        </span>
        <span>
          <% if task.completed %>
            <i class="fas fa-check-square completed-icon"></i>
          <% else %>
            <i class="far fa-square incomplete-icon"></i>
          <% end %>
          <%= link_to "ðŸ—‘ï¸", task_path(task), method: :delete, data: { confirm: "Delete #{task.title}?" }, class: "btn btn-danger btn-sm ms-2" %>
        </span>
      </li>
    <% end %>
  </ul>
  <%= link_to "+ Add a new task", new_task_path, class: "btn mt-3" %>
</div>
